x3d
{
    border:2px solid darkorange;
    background: rgba(128, 128, 128, 0.4);
}

body
{     
    font-size:110%;
    font-family:verdana, sans-serif;
    background-image: url('../res/pattern.png');
    margin: 3em;
    color: lightgray;
}

h1
{
    color: darkorange;
}
